/* <!-- 
___________________________________________________________________________

                            copyright © 2024 Jetson Black
                            x.com/jetsonbb
                            http://jetsonblack.com/

                            just a simple page for myself!
___________________________________________________________________________
--> */
.hero-text-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  
}
.hero-text { display: inline-block; position: relative; z-index: 2; font-size: 10rem; text-shadow: 2px 2px 5px white;}

.hero-text,
.hero-text * {
  background: linear-gradient(0deg,#56bcf9 21%,#ba3af3 56%,#e417c1 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
