/* <!-- 
___________________________________________________________________________

                            copyright © 2024 Jetson Black
                            x.com/jetsonbb
                            http://jetsonblack.com/

                            just a simple page for myself!
___________________________________________________________________________
--> */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}
