
/* <!-- 
___________________________________________________________________________

                            copyright © 2024 Jetson Black
                            x.com/jetsonbb
                            http://jetsonblack.com/

                            just a simple page for myself!
___________________________________________________________________________
--> */
.test-length {
  min-height: 200vh;
  width: 100%;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}